<section class="my-[130px] space-y-3 flex flex-col items-center">
  <div>
    <h4 class="subtitle">Education and Work Experience</h4>
    <h1 class="title">My Journey</h1>
  </div>
  <div class="py-3">
    <div class="vertical_ligne"></div>
  </div>
  <div  >
    <div class="space-x-4 flex justify-center  ">
      <button
        type="submit"
        (click)="ShowExperience()"
        [ngClass]="Experience ? 'button' : 'button_disabled'"
      >
        Experience
      </button>
      <button
        type="submit"
        (click)="ShowEducation()"
        [ngClass]="Education ? 'button' : 'button_disabled'"
      >
        Education
      </button>
    </div>
    <div *ngIf="Experience" class="my-div text-white">
      <section className="py-5">
        <app-card-journey></app-card-journey>
      </section>
    </div>

    <div *ngIf="Education" class="my-div">
      <app-card-education></app-card-education>
    </div>
  </div>
</section>
