.header{
  background: linear-gradient(144deg ,  #302F32 0%, #161618 60%);
}


.title_1{
  color: white;
  font-weight:400;
  font-size: 14px;

  &:hover{
    background: linear-gradient(to right, #00adcb, #019e66);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    // box-shadow:
    // 4px 4px 10px rgba(0, 173, 203, 0.6), // Ombre avec la couleur #00adcb
    // -4px -4px 10px rgba(1, 158, 102, 0.6); // Ombre avec la couleur #019e66

  }
}



/* HTML: <div class="cloud"></div> */
.cloud {
  width: 440px; /* Largeur définie */
  height: 450px; /* Hauteur définie */

  border-radius: 65% 35% 56% 46% / 40% 33% 69% 65%   ;
  background: linear-gradient(to right, #00adcb, #019e66);
  box-shadow:
    1px 1px 4px rgba(0, 173, 203, 0.4), /* Ombre avec la couleur #00adcb */
    -1px -1px 4px rgba(1, 158, 102, 0.4); /* Ombre avec la couleur #019e66 */
}


